<!DOCTYPE html>
<html layout:decorate="~{modelo}">
<head>
	<title>Gerenciador de Usuarios</title>
	<meta charset="UTF-8" />
		
</head>
<body>
	<main layout:fragment="conteudo">
	<div class="col-3">
		<nav class="nav flex-column">
  			<ul class="nav nav-pills nav-justified">
  				<li class="nav-item">
  					<a class="nav-link active" href="/usuarios">Usuários</a>
  				</li>	
  			</ul>
  			<br>
  			<ul class="nav nav-pills nav-justified">
  				<li class="nav-item">
  					<a class="nav-link active" href="/papeis">Papéis</a>
  				</li>	
  			</ul>
  		</nav>
	</div>
	</main>
</body>
</html>