<!DOCTYPE html>
<html layout:decorate="~{modelo}">
<head>
	<title>Usuários</title>
	<meta charset="UTF-8" />
	<script th:inline="javascript">
    	$(function() {
        	$('#excluir').on('show.bs.modal', function (event) {
            	var button = $(event.relatedTarget)
            	var idUsuario = button.data('id')
				var actionUrl = button.data('actionurl');
            	var modal = $(this);
            	modal.find('.modal-title').text('Apagar Usuário');
            	modal.find('.modal-body p').text('Deseja apagar o Usuário '+ idUsuario+'?');
            	modal.find('.modal-footer form').attr('action', actionUrl);
        	});
    	});
	</script>
</head>
<body>
<main layout:fragment="conteudo">
	<div class="container">
		<h3>Usuários</h3>
			<div class="col-12 alert alert-danger" th:if="${mensagemErro != null}" th:text="${mensagemErro}" role="alert"></div>
			<div class="col-12 alert alert-success" th:if="${mensagemSucesso != null}" th:text="${mensagemSucesso}" role="alert"></div>
			<div class="table-responsive">
				<table class="table table-striped ">
					<tr>
						<th>Id</th>
						<th></th>
						<th>Nome</th>
						<th></th>
						<th>Status</th>
						<th>Ações</th>
					</tr>
					<tr th:each="usuario : ${usuarios}">
						<td th:text="${usuario.id}" ><td>
						<td th:text="${usuario.nomeCompleto}"><td>
						<td th:if="${usuario.status} == true">Ativado</td>
						<td th:unless="${usuario.status} == true">Desativado</td>
						<td>
							<a class="btn btn-success btn-sm" role="button"
							th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">Editar
							</a>
						
							<a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#excluir"
							th:attr="data-id=${usuario.nomeCompleto}, data-actionurl=@{/usuarios/remover/{id}(id=${usuario.id})}">Excluir
							</a>
						</td>
					</tr>
				</table> 	
			</div>
			<a type="button" class="btn btn-light" href="/index">Voltar</a>
			<a type="button" class="btn btn-primary" href="/usuarios/cadastrar">Cadastrar novo</a>
	</div>
	<div layout:fragment="modal-area">
	    <div class="modal fade" tabindex="-1" role="dialog" id="excluir">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title">Apagar Usuario</h5>
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	                <div class="modal-body">
	                    <p></p>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
	                    <form method="GET">
	                       <button type="submit" class="btn btn-danger">Apagar</button>
	                    </form>
	                </div>
	            </div>
	        </div>
	        
	    </div>
	</div> 		
</main>
</body>
</html>